<html>
<body>
    <h1>Madlibs: A Dozen <%= f1 %></h1>
    <p>Today, I finally bought a dozen <%= f1 %> at the grocery store. 
    It's been weighing on my mind for some time; why do I need that many <%= f1 %> anyway?
    Does anyone need that many? Does anyone even need one?
    But me... I feel like a <%= f3 %> <%= f2 %> a <%= f11 %> without one!
    It's horrible! So, today I put my reservations aside, my <%= f5 %> hat on, and I strode
    into the store with the confidence that I needed to finally purchase my much-coveted <%= f1 %>. 
    I put them in my car and drove home <%= f6 %>. When I got home, I <%= f7 %> into my room,
    <%= f1 %> in hand, and I <%= f8 %> when I realized they were actually <%= f9 %> <%= f10 %>!
    I can't tell if I like that better or worse!</p>
</body>
</html>